<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Helpful Stuff
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
<p style="background-color:cornflowerblue;color:white;padding:8px;margin:0px;" >Articels</p>


<ion-list class="ion-margin-top">
 
  <p *ngIf="loading1 == true"  class="ion-text-center"><ion-spinner color="primary" name="dots"></ion-spinner></p>

  <div *ngIf="loading1 == false" >

    
  
  <ion-item (click)="toArticle(article.id, article.title)" *ngFor="let article of this.articles">

    <ion-thumbnail slot="start">
      <img [src]="article.thumbnail">
    </ion-thumbnail>
    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <h3>{{article.title}}</h3>
      <p>{{article.description}}</p>
    </ion-label>

  </ion-item>

</div>
</ion-list>

<p style="background-color:cornflowerblue;color:white;padding:8px;margin:0px; margin-top:15px;" >Videos</p>


<p *ngIf="loading == true"  class="ion-text-center"><ion-spinner color="primary" name="dots"></ion-spinner></p>

<div *ngIf="loading == false" >



<ion-slides pager="false" [options]="slideOpts">
  <ion-slide (click) = "youtube(video.link)" *ngFor="let video of this.videos">
    <ion-card>

      <img  [src]="video.thumbnail">
      <ion-card-header>
        <ion-card-subtitle>{{video.title}}</ion-card-subtitle>
      </ion-card-header>
    
    </ion-card>
  </ion-slide>
  
 
</ion-slides>
</div>

</ion-content>
